{% extends "master.html" %}
{% load static %}
{% block content %}
<div class="container fadeInUp ftco-animated">
    <section class="ftco-section ftco-no-pb" id="resume-section">
        <div class="container">
            <div class="row justify-content-center pb-2 mt-2">
                <div class="col-md-10 heading-section text-center ftco-animate">
                    <h1 class="sub-title">Resume</h1>
                </div>
            </div>
            <!-- Only three resume items are included below -->
            <div class="row">
                <div class="col-md-4 resume-list offset-md-custom mt-3">
                    <div class="resume-wrap ftco-animate">
                        <span class="date">2020-2024</span>
                        <h2>Bachelor of Technology</h2>
                        <span class="position">Computer Science &amp; Engineering.</span>
                        
                    </div>
                </div>

                <div class="col-md-4 resume-list offset-md-custom mt-3">
                    <div class="resume-wrap ftco-animate">
                        <span class="date">2018-2020</span>
                        <h2>Higher Secondary Education </h2>
                        <span class="position">S.G.M College, Karad </span>
                    </div>
                </div>

                <div class="col-md-3 resume-list offset-md-custom mt-3">
                    <div class="resume-wrap ftco-animate">
                        <span class="date">2017-2018</span>
                        <h2>Second Secondary Education</h2>
                        <span class="position">S.S.T.V.M</span>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</div>
{% endblock content %}