{% extends "master.html" %}
{% load static %}
{% block content %}
<section class="skill">
<div class="container fadeInUp ftco-animated">
    <div class="row justify-content-center pb-3">
        <div class="col-md-12 heading-section text-center ftco-animate">
            <h1 class="sub-title">Projects</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3">
            <div class="skill-icon">
                <i class="fab fa-python"></i>
            </div>
            <p class="skill-name">Python</p>
        </div>
        <div class="col-md-3">
            <div class="skill-icon">
                <i class="fab fa-html5"></i>
            </div>
            <p class="skill-name">HTML5</p>
        </div>
        <div class="col-md-3">
            <div class="skill-icon">
                <i class="fab fa-css3-alt"></i>
            </div>
            <p class="skill-name">CSS3</p>
        </div>
        <div class="col-md-3">
            <div class="skill-icon">
                <i class="fab fa-python"></i>
            </div>
            <p class="skill-name">Django</p>
        </div>
        
        
    </div>
    <div class="row text-center mt-4">
        
        <div class="col-md-3">
            <div class="skill-icon">
                <i class="fa-solid fa-code"></i>
            </div>
            <p class="skill-name">C</p>
        </div>
        <div class="col-md-3">
            <div class="skill-icon">
                <i class="fab fa-js"></i>
            </div>
            <p class="skill-name">JavaScript</p>
        </div>
        <div class="col-md-3">
            <div class="skill-icon">
                <i class="fa-solid fa-code"></i>
            </div>
            <p class="skill-name">C++</p>
        </div>
        <div class="col-md-3">
            <div class="skill-icon">
                <i class="fa-solid fa-database"></i>
            </div>
            <p class="skill-name">SQL</p>
        </div>
    </div>
</div>
</section>
{% endblock content %}
